---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
    <slot />
</a>
<style>
    a {
        color: var(--fg);
        border-bottom: 1px dotted transparent;
        padding-bottom: 1px;
    }
    a:hover {
        color: var(--hover);
        background-color: var(--hover-bg);
        box-shadow: 0.15em 0 0 var(--hover-bg), -0.15em 0 0 var(--hover-bg);
        border-bottom: 1px solid var(--hover);
    }
    a.active {
        color: var(--accent);
        border-bottom: 1px dotted var(--accent);
    }
</style>
